/* Styling for the body of the Odin Recipes website */
body {
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

/* Styling for the lasagna image */
.lasagna-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for headings */
h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 47px;
    color: rgb(238, 136, 3);
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 35px;
}

/* Styling for list items */
li {
    font-size: 19;
    margin-bottom: 10px;
}

/* Styling for paragraphs */
p {
    font-size: 23px;
}

/* Styling for buttons */
button {
    background-color: rgb(255, 84, 4);
    font-size: 30px;
    color: rgb(247, 247, 248);
    
    border-radius: 10px;
    font-family:'Brush Script MT';
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}
