/* Styling for the body of the Odin Recipes website */
body {
    background-color: bisque;
    font-family:'Arial Narrow', Arial, sans-serif;

}

/* Styling for the image */
.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the headings */
h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 90px;
    color: rgb(238, 136, 3);
}

h2 {
    font-size:30px;
}

h3 {
    font-size: 35px;
}

/* Styling for list items */
li {
    font-size: 19;
    margin-bottom: 10px;
}

/* Styling for buttons */
button {
    background-color: rgb(255, 84, 4);
    font-size: 24px;
    color: rgb(247, 247, 248);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
